{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" style=""><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta n="" ame="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <script src="{% static 'script/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>{% block title %}Hi There, Anon{% endblock %}</title>
</head>

<body>
    <div class="left">
        <div id = "hi">
            <h1>HELLO</h1>
            <h1 style = "color: rgba(255, 255, 255, 0.2);">HOW ARE YOU?</h1>
            <p>tell your story here</p>
        </div>
        <form class="forms" action="{% url 'landingpage:landingpage' %}" method="POST">
            {% csrf_token %}
            <div class = "container" style="padding-left:0vw;">
                <div class="col" style="padding-left:0vw;">
                    <div class="col" style="padding-left:0vw;">
                        <h3>title</h3>
                        <p>so I can remember you</p>
                        <div class = "fill">{{ form.title }}</div>
                    </div>
                    <div style = "margin-bottom: 2vw"></div>
                    <div class="col" style="padding-left:0vw;">
                        <h3>story</h3>
                        <p>pour everything that's on your mind</p>
                        {{ form.text }}
                    </div>
                </div>
            </div>
            <div style = "margin-bottom: 2vw"></div>
                <div class="col" style="padding-left:0vw;">
                    <input class="button" type="submit" value="Add Story">
                </div>
            </div>
        </form>
    </div>
    <div class = "right">
        <div class = "stories">
            {% if stories %}               
                {% for story in stories %}
                    <div class = "story">
                        <h3>{{story.title}}</h3>
                        <pre style = "font-size:1vw; color: #aaaaaa;">{{story.time}}</pre>
                        <pre>{{story.text}}</pre>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ story.id }}" name="id" />
                        <input class="button" style = "font-size: 1vw" type="submit" value="Delete" />
                    </form>
                    <hr size="3vw" noshade>
                    <div style = "height:1vw;"></div> 
                {% endfor %}
            {% else %}
                <pre>There is currently no stories. 
You can add your own.</pre> 
            {% endif %}
        </div>
    </div>
</body>